.temp1{
background:white;
color:#353535;
height:510px;
width:480px;
text-align:justify;
color:#4d4d4d;
}
.temp1-titlebx{
background:#4d4d4d;
color:white;height:auto;
width:440px;
font-family:century gothic;
text-align:center;
text-transform:uppercase;
padding:20px;
font-size:20px;
}
.temp1-sbtitle{
font-size:9pt;
text-transform:lowercase;
font-style:oblique;
}
.temp1-scrollybox{
padding:10px;
height:385px;
overflow:auto;
font-family:verdana;
font-weight:lighter;
}
.temp1-postbottom{
height:25px;
width:480px;
background:#4d4d4d;
}


